<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<fieldset>
    <legend>Username/Password:</legend>
    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :email, "Email" %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.email_field :email, placeholder: "example@email.com", required: true %>
        </div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :password %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.password_field :password, autocomplete: "off", placeholder: "#{@minimum_password_length} characters minimum"  %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :password_confirmation %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "******" %>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Personal Information:</legend>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :first_name, "First Name" %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.text_field :first_name, placeholder: "John" %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :last_name, "Last Name" %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.text_field :last_name, placeholder: "Doe" %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :phone_number, "Phone Number" %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.phone_field :phone_number, placeholder: "555 654 3210" %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :street %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.text_field :street, placeholder: "123 Example St" %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :city %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.text_field :city, placeholder: "Exampopolis" %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :state %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= select_tag :state, options_for_select(us_states) %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :zip %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.text_field :zip, placeholder: "00000" %>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Payment Information:</legend>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :card_type %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.select :card_type, [["Visa", "visa"], ["MasterCard","master"], ["Discover","discover"], ["American Express","american_express"]] %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :card_number %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.text_field :card_number %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :card_verification %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.text_field :card_verification %>
        </div>
    </div>

    <div class="row">
        <div class='col-md-4 col-sm-4 text-right'>
            <%= f.label :card_expires_on %>
        </div>
        <div class='col-md-8 col-sm-8'>
            <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Time.current.year, :end_year => (Time.current.year+20), :add_month_numbers => true %>
        </div>
    </div>

<div class="col-md-4 col-sm-4"></div>
    <div class="actions col-md-8 col-sm-8">
        <br>
        <%= f.submit "Sign up", class:'btn btn-default' %>
    </div>
</fieldset>

<% end %>
