<h1>Orders</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Total</th>
      <th>Name</th>
      <th>Color</th>
      <th>Size</th>
      <th>User</th>
      <th>Inscription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total %></td>
        <td><%= order.name %></td>
        <td><%= order.color %></td>
        <td><%= order.size %></td>
        <td><%= order.user %></td>
        <td><%= order.inscription %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<% if current_user.admin? %>
    <%= link_to 'New Order', new_order_path %>
<% end %>
<% end %>
