<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @order.size %>
</p>

<p>
  <strong>Inscription:</strong>
  <%= @order.inscription %>
</p>

<% if current_user.admin? %>
    <%= link_to 'Edit', edit_order_path(@order) %> |
    <%= link_to 'Back', orders_path %>
<% end %>
