<% if !user_signed_in? %>
<div class="alert alert-warning" role="alert">
    <strong>It doesn't look like you're logged in.</strong>
    Please log in or register a new account with us in order to complete your order!
</div>
<% end %>
<%= form_for @order do |f| %>
<div class="col-md-4 col-sm-4">
    <%= image_tag "/#{@product.image}.png", size: "185x225" %>
</div>
<div class="col-md-8 col-sm-8">
    <p>
        <%= f.label :name %>:
        <%= @product.name %>
        <%= f.hidden_field :name, value: @product.name %>
    </P>
    <p>
        <%= f.label :description %>:
        <%= @product.description %>
    </P>
    <p>
        <%= f.label :price %>:
        <%= @product.price %>
        <%= f.hidden_field :name, value: @product.price %>
    </P>
    <p>
        <%= f.label :size %>:
        <%= f.select :size, ['XS','S','M','L','XL','2X','3X','4X'] %>
    </P>
    <p>
        <%= f.label :color %>:
        <%= f.select :color, ['Red','Orange','Yellow','Green','Blue','Purple','Brown','White','Black'] %>
    </p>
    <p>
        <%= f.label "Customize the #{@product.name}:" %><br>
        <%= f.text_area :inscription, size: "50x5" %>
    </p>
</div>
<div class="row">
    <% if user_signed_in? %>
    <%= f.submit "Add this item to your order." %>
    <% end %>
</div>
</div>

<% end %>
<br>
<br>
